/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

h2#yoast_sociable_title {
    padding: 9px 15px 4px 0;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
}

#yoast-sociable-wrapper {
    display: table;
    width: auto;
    max-width: 1150px;
}

.yoast-sociable-content {
    display: table-cell;
    width: 1150px;
    height: 500px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.sociable-form-submit {
    margin-top: 20px;
}

.sociable-form-label-left {
    float: left;
    width: 250px;
    margin: 0 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
}

.sociable-form-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sociable-form-table {
    display: table-cell;
}

.sociable-form-description {
    display: block;
    float: right;
    max-width: 325px;
    color: #999;
}

#container {
    width: 500px;
}

#sociable-form-networks {

}

.test {
    width: 100px;
}

#inactive-networks {
    height: 36px;
}

#active-networks {
    height: 36px;
}

.ui-state-highlight {
    width: 100px;
    height: 36px;
    border: 1px solid #000000;
}