/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

h2#yoast_sociable_title {
    padding: 9px 15px 4px 0;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
}

#yoast-sociable-wrapper {
    display: table;
    width: auto;
    max-width: 1150px;
}

.yoast-sociable-content {
    display: table-cell;
    width: 1150px;
    height: 500px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.sociable-form-submit {
    margin-top: 20px;
}

.sociable-form-label-left {
    float: left;
    width: 250px;
    margin: 0 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
}

.sociable-form-label-networks {
    float: left;
    margin: 0 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
}

.sociable-form-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sociable-form-table {
    display: table-cell;
}

.sociable-form-description {
    display: block;
    float: right;
    max-width: 325px;
    color: #999;
}

.network-placeholder {
    border: 1px dashed #999999;
    height: 34px;
}


#sociable-admin-active-list, #sociable-admin-inactive-list {
    list-style-type: none;
    float: left;
    border: 1px solid #999999;
    width: 150px;
    margin-top: 0px;
    margin-right: 25px;
    padding: 5px;
}

.clear {
    clear: both;
}

.sociable-admin-network-icons {
    background-color: #999999;
    height: 35px;
    display: inline-block;
    width: 140px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 10px;
}

.sociable-admin-network-icon {
    fill: #eeeeee;
}

.sociable-admin-network-text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #eeeeee;
}

.sociable-admin-network-box {
    float: left;
    width: 200px;
    padding-top: 15px;
}